.login {
  height: 100%;
  box-sizing: border-box; }
  .login .login-title-wrapper {
    padding-top: 50px; }
    .login .login-title-wrapper * {
      color: white; }
    .login .login-title-wrapper .title-location {
      display: block;
      padding: 10px 0 20px; }
      .login .login-title-wrapper .title-location:focus {
        outline: 0; }
  .login .login-panel {
    background: white; }
    .login .login-panel .dni-wrapper {
      width: 95%; }
    .login .login-panel .md-button {
      width: 80%;
      padding: 10px 0; }
