.login {
	height: 100%;
	box-sizing: border-box;

	.login-title-wrapper {
		padding-top: 50px;

		* {
			color: white;
		}

		.title-location {
			display: block;
			padding: 10px 0 20px;

			&:focus {
				outline: 0;
			}
		}
	}

	.login-panel {
		background: white;

		.login-form {
			width: 80%;
		}

		.dni-wrapper {
			width: 95%;
		}

		.pv-button-primary {
			border: none;
			margin: 0 0 10px;
			width: 80%;
			padding: 15px 0;
			border-radius: 5px;
		}
	}
}
