.login {
	height: 100%;
	box-sizing: border-box;

	.login-title-wrapper {
		padding-top: 50px;

		* {
			color: white;
		}

		.title-location {
			display: block;
			padding: 10px 0 20px;
		}
	}

	.login-panel {
		background: white;

		.dni-wrapper {
			width: 95%;
		}

		.md-button {
			color: white;
			width: 80%;
			padding: 10px 0;
		}
	}
}
