.producto {
	.producto-wrapper {
		position: relative;
		text-align: center;

		img {
			width: 80%;
		}

		.producto-legend {
			text-align: left;
			-webkit-box-shadow: 0 0 26px 3px rgba(0,0,0,0.75);
			-moz-box-shadow: 0 0 26px 3px rgba(0,0,0,0.75);
			width: 100%;
			background-color: #DDDDDD;
			top: 200px;
			padding: 10px 10%;
			box-sizing: border-box;
			position: absolute;

			.producto-precio{
				padding-bottom: 5px;
				border-bottom: 1px solid #ccc;

				.producto-precio-unitario{
					.producto-precio-unitario-title{
						font-size: 12px;
						width: 50px;
						display: inline-block;
					}
					.producto-precio-unitario-value{
						font-size: 20px;

						.pesable{
							font-size: 11px;
						}
					}
				}

				.cantidad{
					font-size: 13px;
					width: 25px;
					border: 1px solid #C0C0C0;
					padding: 5px;
					background-color: #F8F8F8;
				}
			}

			.producto-total{
				padding: 5px 0 0;
				text-align: center;
				font-size: 14px;

				span{
					font-size: 20px;
					font-weight: bold;
				}
			}

			.agregar-btn {
				display: block;
				margin: 20px auto;
				width: 50%;
			}
		}
	}
}
