.producto {
	.producto-wrapper {
		position: relative;
		text-align: center;

		img {
			width: 80%;
		}

		.producto-legend {
			text-align: left;
			-webkit-box-shadow: 0 0 26px 3px rgba(0,0,0,0.75);
			-moz-box-shadow: 0 0 26px 3px rgba(0,0,0,0.75);
			width: 100%;
			background-color: #DDDDDD;
			top: 200px;
			padding: 10px 10%;
			box-sizing: border-box;
			position: absolute;

			.cantidad {
				display: inline-block;
				width: 20px;
				padding: 10px 10px;
				text-align: center;
				margin: 0 0 0 30px;
				border: 1px solid #ccc;
				border-radius: 5px;
			}

			.agregar-btn {
				display: block;
				margin: 20px auto;
				width: 50%;
			}
		}
	}
}
