.producto .producto-wrapper {
  position: relative;
  text-align: center; }
  .producto .producto-wrapper img {
    width: 80%; }
  .producto .producto-wrapper .producto-legend {
    text-align: left;
    -webkit-box-shadow: 0 0 26px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 26px 3px rgba(0, 0, 0, 0.75);
    width: 100%;
    background-color: #DDDDDD;
    top: 200px;
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute; }
    .producto .producto-wrapper .producto-legend .producto-title {
      margin-top: 10px; }
    .producto .producto-wrapper .producto-legend .producto-precio {
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc; }
      .producto .producto-wrapper .producto-legend .producto-precio .producto-precio-unitario .producto-precio-unitario-title {
        font-size: 12px;
        width: 50px;
        display: inline-block; }
      .producto .producto-wrapper .producto-legend .producto-precio .producto-precio-unitario .producto-precio-unitario-value {
        font-size: 17px; }
        .producto .producto-wrapper .producto-legend .producto-precio .producto-precio-unitario .producto-precio-unitario-value .pesable {
          font-size: 11px; }
      .producto .producto-wrapper .producto-legend .producto-precio .cantidad-title {
        line-height: 35px; }
      .producto .producto-wrapper .producto-legend .producto-precio .cantidad-input {
        font-size: 13px;
        width: 50px;
        border: 1px solid silver;
        padding: 0 5px;
        background-color: #f8f8f8;
        height: 45px;
        margin-left: 3px;
        box-sizing: border-box; }
    .producto .producto-wrapper .producto-legend .producto-total {
      padding: 5px 0 0;
      text-align: center;
      font-size: 14px; }
      .producto .producto-wrapper .producto-legend .producto-total span {
        font-size: 20px;
        font-weight: bold; }
    .producto .producto-wrapper .producto-legend .agregar-btn {
      display: block;
      margin: 20px auto;
      width: 50%; }
