.pv-toolbar {
  border-bottom: 1px solid #ccc; }
  .pv-toolbar .md-toolbar-tools {
    background-color: #FAFAFA; }
    .pv-toolbar .md-toolbar-tools .title-img {
      height: 40px; }
    .pv-toolbar .md-toolbar-tools .md-icon-button .material-icons {
      color: #AAAAAA; }
