.pv-toolbar{
	border-bottom: 1px solid #ccc;

	.md-toolbar-tools{
		background-color: #FAFAFA;

		.title-img{
			height: 40px;
		}

		.md-icon-button{
			.material-icons{
				color: #AAAAAA;
			}
		}
	}
}
