

<div class="carrito" layout="column" flex="100">
	<md-button class="pv-button-primary comprar-btn" flex="10" ng-click="cc.terminarCompra()" ng-disabled="cc.carrito.length == 0" flex>
		Comprar
	</md-button>
	<div class="carrito-list" flex="90">
		<div class="carrito-list-item" layout="row" ng-repeat="producto in cc.carrito">
			<div class="item-image" flex="20">
				<img src="images/productos/{{producto.codigo}}.jpg">
			</div>
			<h4 class="item-name" flex="40">
				{{producto.nombre}}
			</h4>
			<div class="item-qtty">
				<input class="cantidad" ng-disabled="producto.pesable" ng-model="producto.cantidad" type="number"/>
			</div>
			<div class="item-delete" layout-align="center start" flex="20">
				<md-button class="md-fab pv-button-primary" ng-click="cc.removeProducto(producto)">
					<md-icon aria-label="menu" class="material-icons step">
						close
					</md-icon>
				</md-button>
			</div>
		</div>
	</div>
</div>
