<footer class="pv-footer" ng-controller="BottomBarController as bbc">
	<div layout="row" layout-align="center center">
		<div flex class="carrito-wrapper" layout="column" layout-align="center center">
			<a class="pv-footer-info" ui-sref="carrito">
				<img src="images/footer/footer_cart.png" class="button-icon" alt="Bookmark">
			</a>
			<span class="badge" ng-show="bbc.carritoItems > 0">
				{{bbc.carritoItems}}
			</span>
		</div>
		<div class="scanner-wrapper" flex>
			<button ng-click="bbc.scan()"></button>
		</div>
		<div flex layout="column" layout-align="center center">
			<a class="pv-footer-info" ng-click="ac.logout()">
				<img src="images/footer/footer_logout.png" class="button-icon" alt="Bookmark">
			</a>
		</div>
	</div>
</footer>
