<div class="login" layout-padding>
	<div class="login-title-wrapper pv-text-center">
		<div class="md-title">Bienvenido!</div>
		<img src="images/logo.png">
		<a class="title-location" href="#">
			<md-icon aria-label="menu" class="material-icons step">
				room
			</md-icon>
			PlazaVea Miraflores
		</a>
	</div>

	<md-whiteframe class="md-whiteframe-1dp login-panel" layout="column" layout-align="center center">
		<md-input-container class="md-block dni-wrapper" flex-xs="100" flex-sm="100">
			<label>Ingrese su DNI</label>
			<input type="number" ng-model="ac.dni">
		</md-input-container>

		<md-button class="pv-button-primary" flex-xs="100" flex-sm="100" ng-click="ac.login()">
			Ingresar
		</md-button>
	</md-whiteframe>
</div>
