<div class="login" layout-padding>
	<div class="login-title-wrapper pv-text-center">
		<div class="md-title">Bienvenido!</div>
		<img src="images/logo.png">
		<a class="title-location" href="#">
			<md-icon aria-label="menu" class="material-icons step">
				room
			</md-icon>
			Plaza Vea San Borja
		</a>
	</div>

	<form ng-submit="ac.login()">
		<md-whiteframe class="md-whiteframe-1dp login-panel" layout="column" layout-align="center center">

			<h3>
				Iniciar Sesion
			</h3>

			<div class="login-form" layout="row" flex>
				<md-input-container flex="30">
					<md-select ng-model="ac.selectedLoginType">
						<md-option ng-repeat="type in ac.loginTypes" ng-value="type.name">
							{{type.name}}
						</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex>
					<label>Nº de Documento</label>
					<input
						name="id"
						type="number"
						ng-model="ac.loginText"
						ng-maxlength="{{type.length}}"
						ng-minlength="{{type.length}}"
						required/>
				</md-input-container>
			</div>

			<md-button type="submit" class="pv-button-primary" flex>
				Ingresar
			</md-button>
		</md-whiteframe>
	</form>
</div>
