<md-toolbar class="pv-toolbar">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Settings" ng-click="ac.toggleOpciones()">
			<md-icon
				aria-label="menu"
				class="material-icons step">
				menu
			</md-icon>
		</md-button>
		<span flex></span>
		<img class="title-img" src="images/logoToolbar.png">
		<span flex></span>
		<md-button class="md-icon-button" aria-label="Settings" ng-click="ac.toggleCarrito()">
			<md-icon
				aria-label="menu"
				class="material-icons step">
				shopping_cart
			</md-icon>
		</md-button>
	</div>
</md-toolbar>
